sudo: required
services:
  -docker
before_install:
  - docker build -t debora/react-test -f ./client/Dockerfile.dev ./client
script:
  - docker run debora/react-test npm test -- --coverage

after_success:
  - docker build -t debora/multi-client ./client
  - docker build -t debora/multi-nginx ./nginx
  - docker build -t debora/multi-server ./server
  - docker build -t debora/multi-worker ./worker
  #Log in to the dokcer CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take those images and push to docker hub
  - docker push debora/multi-client
  - docker push debora/multi-nginx
  - docker push debora/multi-server
  - docker push debora/multi-worker

# deploy:
#   provider: elasticbeanstalk
#   region: us-est-1
#   app: multi-docker
#   env: MultiDocker-env
#   bucket_name: elasticbeanstalk-us-east-1-
#   bucket_path: docker-multi
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key:
#     secure: $AWS_SECRET_KEY
